

<h1>Create</h1>


<form action="/Car/CreateSave" method="get">
   Car Number: <input type="text" name="Number" /> <br />
   Car Color: <input type="text" name="Color" /> <br />
   Car Model: <input type="text" name="Model" /> <br />
   Car Manufacturer: <input type="text" name="Manufacturer" /> <br />

    <input type="submit" value="Save" />
</form>